.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.6rem;
  height: 100%;
}

.grid {
  display: grid;
  grid-gap: 0.5rem;
  background-color: #f0f0f0;
  padding: 2rem;
  width: auto;
  transition: opacity 0.5s ease-in-out;
}

.cell {
  width: 4rem;
  height: 4rem;
  border: 1px solid #ccc;
  opacity: 0;
  transition: background-color 0.5s, color 0.5s, opacity 0.5s ease-in-out;
}

.path {
  background-color: #4caf50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.show-cell {
  opacity: 1;
}